li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
  position: fixed;
  top: 0;
  width: 100%;
}

li a:hover {
  background-color: #111;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 10vh;

}

#square_0,
#square_1,
#square_2 {
  border-top: none;
}

#square_0,
#square_3,
#square_6 {
  border-left: none;
}

#square_6,
#square_7,
#square_8 {
  border-bottom: none;
}

#square_2,
#square_5,
#square_8 {
  border-right: none;
}

.outline {
  box-shadow: inset 0 0 0 2px black;
  border-radius: 10px 10px 10px 10px;
}

.row-container {
  padding: 10px; 
}

.board-row {
  display: flex;
  justify-content: center;
}

.status {
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
}

.large-letter {
  width: 258px;
  height: 250px;
  font-size:220px;
  text-align: center;
}

.square {
  background: #fff;
  border: 2px solid rgb(0, 0, 0);
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0px;
  text-align: center;
  width: 100px;
}

.square-small {
  background: #fff;
  border: 2px solid rgb(0, 0, 0);
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

/* .square:active, .square-small:active {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(88,154,204)),
      color-stop(1, rgb(90,150,199))
  );
 } */

 .square:hover, .square-small:hover {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(88,154,204)),
    color-stop(1, rgb(90,150,199))
);
 }


.center {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
